.cursor/rules/rollerblind.mdc
/code/demos
ui/up_video.mp4
ui/up.gif
ui/main.png
ui/down_video.mp4
ui/down.gif
/code/android/RollerBlindControllerApp/app/release
code/arduino_esp32/skech_smart_roller_blind/build/esp32.esp32.lolin_c3_mini/skech_smart_roller_blind.ino.bin
code/arduino_esp32/skech_smart_roller_blind/build/esp32.esp32.lolin_c3_mini/skech_smart_roller_blind.ino.partitions.bin
code/arduino_esp32/skech_smart_roller_blind/build/esp32.esp32.lolin_c3_mini/skech_smart_roller_blind.ino.map
code/arduino_esp32/skech_smart_roller_blind/build/esp32.esp32.lolin_c3_mini/skech_smart_roller_blind.ino.elf
code/arduino_esp32/skech_smart_roller_blind/build/esp32.esp32.lolin_c3_mini/skech_smart_roller_blind.ino.bootloader.bin
code/arduino_esp32/quick_package.bat
.cursor/rules/rollerblind.mdc
